{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "0.10"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
